language: node_js
node_js:
  - "6"

env:
  global:
    - NODE_ENV=build
    - CXX=g++-4.8

addons:
  postgresql: "9.4"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

services:
  - redis-server

script:
  - npm run jscs-enforce
  - npm run checkdb
  - npm test
