html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel="stylesheet", type="text/css", href="/authentication/login-style.css")
    script(src='../analytics/app.js')
  body
  div.container
    div.row
      div.text-center.col-md-4.col-md-offset-4
        h1 Refocus
        br
        - if (SSOExists) 
          a(href='/loginSAML')
            button.btn.btn-default.btn-block(type='submit') SSO Login
          p.lead Or
        div.local-form
          form(role='form', name='loginform')
            label#errorInfo
            .form-group
              input.form-control(type='email', name="email", placeholder='Enter email' required)
            .form-group
              input.form-control(type='password', name="password", placeholder='Password' required)
            button.btn.btn-primary.btn-block(type='submit') Submit
          a#forgot-link(href='/login') Forgot password?
          | &nbsp;
          - if (!SSOExists)
            a.right-link(href='/register') Sign Up
  script(src='/authentication/login/app.js')
