
doctype html
html(lang = "en")
  head
  body
    label#errorInfo
    div#lens
  script(src='/socket.io.js')
  script.
    var realtimeEventThrottleMilliseconds = #{eventThrottle};
  script(src='/lensPerspective/perspective/app.js')
  script(src='/lensUtils.js')
