
doctype html
html
  head
    title= Refocus
    link(rel="stylesheet", type="text/css", href="/refocusIndex/index-style.css")
  body
    .container
      div.right-text
        h4 #{user.email}
        a(id='logoutLink' href='#') Logout
      div#center-heading
        label#errorInfo
        h1 Refocus
        div#center-links
          h3 Perspectives
  script(src='/refocusIndex/app.js')
  script(src='/authentication/logout/app.js')
  script.
    var trackingId = '#{trackingId}';
  script(src='/analytics/app.js')
