/**
 * view/focus/lens.css
 */

#lens {
  font-family: sans-serif;
}

#lens circle, path {
  cursor: pointer;
}

#lens circle {
  fill: none;
  pointer-events: all;
}

#lens #tooltip {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
}

#lens text {
  font-weight: bold;
}