/**
 * view/authentication/login-style.css
 */

.local-form{
  border: 1px solid #d9d9d9;
  padding: 50px;
}

#errorInfo{
  color: red;
}

#tokenInfo {
  color: green;
  word-wrap: break-word;
  /* this will take up space, even when div is hidden */
  padding: 0.5em;
  margin: 10px;
  border-radius: 15px;
}
.right-link{
  text-align:right;
  float: right;
}

#forgot-link{
  text-align:left;
  float: left;
}
