//-
  Copyright (c) 2017, salesforce.com, inc.
  All rights reserved.
  Licensed under the BSD 3-Clause license.
  For full license text, see LICENSE.txt file in the repo root or
  https://opensource.org/licenses/BSD-3-Clause
extends ./../index.pug

block container
  div.slds-align_absolute-center(style='width: 300px')
    div.slds-grid(style='margin-top: 0.15rem; background: rgb(244, 246, 249); padding: 1rem;')
      div#roomTypeContainer.slds-panel.slds-grid.slds-grid_vertical.slds-nowrap

block dynamic-content
  script(src='/static/rooms/type/app.js')
