<div class="demo-only" style="width: 300px;">
  <div class="slds-page-header slds-page-header_vertical">
    <div class="slds-grid slds-grid_vertical">
      <div>
        <div class="slds-media slds-no-space slds-has-divider_bottom-space slds-media_center">
          <div class="slds-media__figure">
            <div class="slds-icon_container slds-icon-standard-lead">
              <svg class="slds-icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead" />
              </svg>
              <span class="slds-assistive-text">Lead</span>
            </div>
          </div>
          <div class="slds-media__body">
            <h1 class="slds-page-header__title slds-align-middle">Record Title</h1>
          </div>
        </div>
      </div>
      <div class="slds-has-divider_bottom-space">
        <button class="slds-button slds-button_stateful slds-button_neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add" />
            </svg>Follow</span>
            <span class="slds-text-selected">
              <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
              </svg>Following</span>
              <span class="slds-text-selected-focus">
                <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                </svg>Unfollow</span>
              </button>
              <div class="slds-button-group slds-m-left_none slds-m-top_x-small" role="group">
                <button class="slds-button slds-button_neutral">Convert</button>
                <button class="slds-button slds-button_neutral">Clone</button>
                <button class="slds-button slds-button_neutral">Edit</button>
                <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last">
                  <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="More Actions">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                    </svg>
                    <span class="slds-assistive-text">More Actions</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <ul class="slds-list_vertical-space-medium slds-m-left_xx-small">
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">Field 1</div>
              <div class="slds-text-body_regular" title="Description that demonstrates truncation with a long text field">Description that demonstrates a long text field and will eventually wrap.</div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">Field 2</div>
              <div class="slds-text-body_regular" title="Hyperlink"><a href="javascript:void(0);">Hyperlink</a></div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">Field 3</div>
              <div class="slds-truncate" title="Description">Description</div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">
                <button class="slds-button slds-text-link_reset" aria-haspopup="true">Field 4 (3)
                  <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                  </svg>
                </button>
              </div>
              <div class="slds-text-body_regular">
                <div>1 Market St</div>
                <div>San Francisco, CA 94105</div>
              </div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">Field 5</div>
              <div class="slds-text-body_regular" title="Description">Description</div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-m-bottom_xx-small">Field 6</div>
              <div class="slds-text-body_regular" title="Description">Description</div>
            </li>
            <li class="slds-item">
              <div class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Field 7">Field 7</div>
              <div class="slds-text-body_regular" title="Description">Description</div>
            </li>
          </ul>
        </div>
      </div>